---
version: "3"

services:
  flattrack_db:
    image: docker.io/postgres:18.0-alpine3.22@sha256:48c8ad3a7284b82be4482a52076d47d879fd6fb084a1cbfccbd551f9331b0e40
    restart: unless-stopped
    user: postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=flattrack
      - POSTGRES_USER=flattrack
      - POSTGRES_PASSWORD=flattrack
      - PGDATABASE=flattrack
      - PGUSER=flattrack
