---
# IMPORTANT NOTE:
#   - this docker-compose set up is not ready for production
#     it is recommended to add an SSL/TLS to the set up, so the connection is secure.
#     if you wish to make this setup production-ish, you may wish to investigate the linuxserver/letsencrypt image to add to the stack.

version: "3"

volumes:
  flattrack_db:
    driver: local

services:
  flattrack_db:
    image: docker.io/postgres:18.0-alpine3.22@sha256:48c8ad3a7284b82be4482a52076d47d879fd6fb084a1cbfccbd551f9331b0e40
    restart: unless-stopped
    read_only: true
    volumes:
      - flattrack_db:/var/lib/postgres
    environment:
      - TZ=Pacific/Auckland
      - POSTGRES_DB=flattrack
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - PGDATABASE=flattrack
      - PGUSER=postgres

  flattrack:
    # TODO: replace with image release version
    image: registry.gitlab.com/flattrack/flattrack:latest
    restart: unless-stopped
    environment:
      - TZ=Pacific/Auckland
      - APP_DB_USERNAME=postgres
      - APP_DB_PASSWORD=postgres
      - APP_DB_HOST=flattrack_db
      - APP_DB_DATABASE=flattrack
    depends_on:
      - flattrack_db
    read_only: true
    ports:
      - "8080:8080"
    # if using a reverse proxy, you'll need to set expose instead of ports (so the reverse-proxy can bind to both 80 and 443)
