layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    children
    pane size=2 borderless=true {
      plugin location="zellij:status-bar"
    }
  }
  pane_template name="postgres" {
    command "container"
    args "run" "-it" "--rm" "--name" "flattrack-postgres-dev-db" "-p" "5432:5432" "--env-file" ".env" "docker.io/postgres:18.0-alpine3.22@sha256:48c8ad3a7284b82be4482a52076d47d879fd6fb084a1cbfccbd551f9331b0e40"
  }
  pane_template name="postgres-shell" {
    command "container"
    args "exec" "-it" "--env-file" ".env" "flattrack-postgres-dev-db" "psql"
  }
  pane_template name="backend" {
    command "gow"
    args "run" "."
    focus true
  }
  pane_template name="frontend" {
    command "deno"
    args "task" "build" "--watch"
    cwd "./web/"
  }
  tab name="postgres" {
    postgres
    postgres-shell
  }
  tab name="backend" split_direction="horizontal" {
    backend
    pane
  }
  tab name="frontend" split_direction="horizontal" {
    frontend
    pane
  }
  tab name="SHELL" {

  }
}
