layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    children
    pane size=2 borderless=true {
      plugin location="zellij:status-bar"
    }
  }
  pane_template name="postgres" {
    command "podman"
    cwd "./deployments"
    args "compose" "--file" "./docker-compose-dev.yml" "up"
  }
  pane_template name="backend" {
    command "gow"
    args "run" "."
    focus true
  }
  pane_template name="frontend" {
    command "npm"
    args "run" "build-watch"
    cwd "./web/"
    focus true
  }
  pane_template name="frontend_shell" {
    command "npm"
    args "i"
    cwd "./web/"
    focus false
  }
  tab name="postgres" {
    postgres
  }
  tab name="backend" split_direction="horizontal" {
    backend
    pane
  }
  tab name="frontend" split_direction="horizontal" {
    frontend
    frontend_shell
  }
}
