<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>FlatTrack {{ .FlatName }} - account sign up</title>
        {{ range $count, $name := .CssFiles }}
        <link rel="stylesheet" href="{{ $.InstanceURL }}/css/{{ $name }}" />
        {{ end }}
    </head>
    <body>
        <section class="hero is-white is-bold is-fullheight">
            <div class="hero-body">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <span class="icon is-medium is-success">
                                    <i class="mdi mdi-info mdi-36px"></i>
                                </span>
                            </div>
                            <div class="media-content">
                                <h1 class="title is-1 has-text-black">Welcome to FlatTrack </h1>
                                <hr class="login-hr">

                                <h1 class="title is-3 has-text-black">Hey, {{ .User.Names }}! </h1>
                                <p class="subtitle has-text-black">Please confirm your account to proceed.</p>
                                <a href="{{ .InstanceURL }}/useraccountconfirm/{{ .UserCreationSecret.ID }}/?secret={{ .UserCreationSecret.Secret }}" class="button is-info">Confirm account</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
    <style>
     .card:active {
         height: auto;
     }
    </style>
</html>
