#topbar {
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #f8f8f8;
    color: black;
    text-align: center;
    padding-top: 0px;
    height: 80px;
    float: left;
    z-index: 100;
  }

#content {
    padding-top: 80px;
}